.cart-text {
	text-align: right;
}

.ourBtn {
	color: white;
	display: inline;
	margin-right: 10px;
	margin-left: 15px;
}

.divider {
	width: 5px
}

.btnGroup {
	display: inline;
}

.parallax img{
      display: inherit !important;
}

.RevContent {
	text-align: left;
	float: left;
	display: block;
	width: 100%;
}

p {
	display: inline;
	float: right;
}

.ReviewTitle {
	text-decoration: underline;
}

.title {
	font-family: 'Archivo Black', sans-serif;
}

.subhead {
	font-family: 'Cabin Condensed', sans-serif;
}

.brand-logo {
	font-family: 'Archivo Black', sans-serif;
}

.card-panel {
	width: 49%;
	float: left;
}

.reviews {
	display: inline-block;
	width: 49%;
	float: right;
}
